@import "tailwindcss";

@layer components {
   .glassmorphism {
    background: #ffffff1a;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid #ffffffb0;
  }
}